.bg-orange{
    background-color: #ffbe33;
}

.btn-hover:hover{
    background-color: #ffbe33;    
    color: white;
}

.bg-box img{
    height: 100% !important;
    position: absolute;
    z-index: -1;
}

.detail-box h1{
    color: white;
    font-family:'Dancing Script', cursive;
    margin-top: 150px;
    font-size: 3.5rem;
}

.font{
    font-family:'Dancing Script', cursive;
}

.down-section{
    margin-top:400px;
}

.hidden {
    display: none;
}

.img-400{
    width: 100%;
    height: 200px;
}

.img-icon{
    width: 20px;
}

.img-icon-15{
    width: 15px;
    height:15px;
}
.img-corner{
    border-radius:0 0 0 50px;
}

.h50{
    height: 50px;
}

.h100{
    height: 100px;
}

.Border-warning{
    border: 5px solid #ffbe33;
}

.hover:hover{
    color: #ffbe33 !important;
}

.hover1:hover{
    color: #ffbe33 !important;
    background-color: #212529 !important;
    padding-left: 20px;
    padding-right: 20px;
    border-radius:20px !important;
}